@import url("https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@300;500&display=swap");
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(244, 244, 244);
}
body .image-container {
  position: relative;
  background-image: url(/images/babaii.png);
  width: 40vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
body .image-container .odin {
  display: flex;
  position: absolute;
  top: 10em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .image-container .odin .odin-img {
  height: 25vh;
}
body .image-container .odin .odin-text {
  color: rgb(255, 255, 255);
  font-family: "Blaka Hollow", cursive;
  font-size: 4em;
}
body .image-container .copyright {
  position: absolute;
  bottom: 0;
  left: 30%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
body .image-container .copyright a {
  text-decoration: none;
  color: aqua;
}
body .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 13vh;
  gap: 8vh;
}
body .container .explain-service {
  width: min(1500px, 40vw);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: larger;
  margin: 0 0 0 4vw;
  line-height: 130%;
}
body .container .explain-service2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: large;
  margin: 0 0 0 4vw;
}
body .container form {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
body .container form .form-container {
  display: flex;
  gap: 5vw;
  background-color: rgb(255, 255, 255);
  width: 60vw;
  padding: 2em 0em;
  box-shadow: 0px 3px 15px rgba(118, 118, 118, 0.4);
}
body .container form .form-container .form-righthand {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
body .container form .form-container .form-righthand div {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: small;
}
body .container form .form-container .form-righthand div input {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 3px;
  width: 190px;
  height: 25px;
  font-size: medium;
  font-weight: 300;
}
body .container form .form-container .form-righthand .before-content:before {
  content: "let's do this!";
  font-size: x-large;
  font-weight: 600;
  position: relative;
  bottom: 3vh;
}
body .container form .form-container .form-lefthand {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: end;
}
body .container form .form-container .form-lefthand div {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: small;
}
body .container form .form-container .form-lefthand div input {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 3px;
  width: 190px;
  height: 25px;
}
body .container form button {
  margin-left: 4vw;
  width: 200px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  padding: 0.7em;
  border: 0;
  background-color: rgb(83, 229, 43);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
body .container form .ask-account {
  margin: 0 0 0 4vw;
  font-family: "Quicksand", sans-serif;
}
body .container form .ask-account span {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}