@import "color";
@import "fonts";


body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    // overflow: hidden;
    background-color: rgb(244, 244, 244);
    // gap: 2vw;
    .image-container{
        position: relative;
        background-image: url(/images/babaii.png);
        width: 40vw;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        .odin{
            display: flex;
            position: absolute;
            top: 10em;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: center;
            gap: 20px;

            .odin-img{
                height: 25vh;
            }

            .odin-text{
                color: rgb(255, 255, 255);
                font-family: $blaka-hollow;
                font-size: 4em;
            }
        }

        .copyright{
            position: absolute;
            bottom: 0;
            left: 30%;
            font-family: $quicksand;
            font-weight: $font-size-light;
            color: rgb(255, 255, 255);
            
            a{
                text-decoration: none;
                color: aqua;
            }
        }
    }

    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 13vh;
        gap: 8vh;

        .explain-service{
            width: min(1500px , 40vw);
            font-family: $font-robot;
            font-weight: $font-size-larger;
            font-size: larger;
            margin: 0 0 0 4vw;
            line-height: 130%;
        }

        .explain-service2{
            font-family: $quicksand;
            font-weight: $font-size-large;
            font-size: large;
            margin: 0 0 0 4vw;
        }
        
        form {

            display: flex;
            flex-direction: column;
            gap: 4vh;

            .form-container {
                display: flex;
                gap: 5vw;
                background-color: rgb(255, 255, 255);
                width: 60vw;
                padding: 2em 0em ;
                box-shadow: 0px 3px 15px rgb(118, 118, 118 , 0.4);

                .form-righthand{
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                    div {
                        display: flex;
                        flex-direction: column;
                        margin-left: 4vw;
                        font-family: $font-robot;
                        font-weight: $font-size-light;
                        font-size: small;
                        input {
                            border: solid 1px rgb(202, 202, 202);
                            border-radius: 3px;
                            width: 190px;
                            height: 25px;
                            font-size: medium;
                            font-weight: $font-size-light;
                        }  
                    }
                    .before-content {
                        &:before {
                            content: "let's do this!";
                            font-size: x-large;
                            font-weight: $font-size-larger;
                            position: relative;
                            bottom: 3vh;

                        }
                    }   
                }

                .form-lefthand {
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;
                    justify-content: end;
                    div {
                        display: flex;
                        flex-direction: column;
                        font-family: $font-robot;
                        font-weight: $font-size-light;
                        font-size: small;

                        input {
                            border: solid 1px rgb(202, 202, 202);
                            border-radius: 3px;
                            width: 190px;
                            height: 25px;
                        }
                    }
                }
            }

            button {
                margin-left: 4vw;
                width: 200px;
                font-family: $quicksand;
                font-weight: $font-size-larger;
                padding: 0.7em;
                border: 0;
                background-color: rgb(83, 229, 43);
                color: rgb(255, 255, 255);
                border-radius: 10px;
            }

            .ask-account {
                margin: 0 0 0 4vw;
                font-family: $quicksand;

                span{
                    font-family: $font-robot;
                    cursor: pointer;
                }
            }
        }
    }
}