@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

$blaka : 'Blaka', cursive;
$blaka-hollow: 'Blaka Hollow', cursive;
$quicksand: 'Quicksand', sans-serif;
$font-size-light: 300;
$font-size-medium: 400;
$font-size-large:500;
$font-size-larger:bold;